
*{
    padding:0;
    margin:0;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
}

/*style trong login */

body {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100vh; /* Chiều cao của toàn bộ trang */
    background-color: #E8F1F2   ; /* Màu nền của toàn bộ trang */
    margin: 0; /* Loại bỏ margin mặc định */
    padding: 0; /* Loại bỏ padding mặc định */
  }

.main1 {
    
    padding: 50px;
    padding-left: 95px;
    width: 940px;
    height: 990px;
    background-color: #FFFFFF;
    border-radius: 50px; /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
    margin: 350px 0 20px 0;
    justify-content: center;
    align-items: center;
}
.Dang-nhap {
    text-align: center;
    margin: 20px;
    font-size: 28px;
    color: #333; /* Màu chữ */
    font-weight: bold; /* Chữ in đậm */
}

.input-box{
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
    font-size: 18px;
    color: #333; /* Màu chữ */
    font-weight: bold; /* Chữ in đậm */
}

.confirm_css{
    margin-top: 10px;
    margin-left: 20px;
    text-align: left;
    font-size: 15px;
    color: black; /* Màu chữ */
    font-weight: bold; /* Chữ in đậm */
}

.rounded-rectangle-login input[type="text"] {
    width: 850px;
    height: 20px;
    margin-left: 5px;
    padding: 10px; /* Khoảng cách bên trong input */ 
    border: none; /* Loại bỏ viền */
    background-color: #D9D9D9;
    border-radius: 20px; /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
    display: flex;
    justify-content: center;
    align-items: center;

}

.remember-login {
    margin: 20px;
    font-size: 10px;

}

.rounded-rectangle {
    width: 324px;
    height: 69px;
    background-color: #C2E8F8;
    border-radius: 20px; /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
}
/*
.text-on-Sign-in {
    position: absolute;
    font-size: 18px;
    color: #D9D9D9; /* Màu chữ 
  }
*/

.forgot-pass{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;  
    color: #000000; /* Màu chữ */
    font-weight: bold; /* Chữ in đậm */

}

.Sign-in{
    text-align: center;
    margin-top: 15px;
    margin-left: 12px;
    margin-bottom: 10px;
    background: #00173D;
    color: #D9D9D9;
    border-radius: 20px; /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
    padding: 10px 203px;
    white-space: nowrap;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

.notAccount{
    margin-left: 10px;
    font-size: 15px;
}

/* style forgotPass */

.sign-forgot {
    text-align: center;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #00173D;
    color: #D9D9D9;
    border-radius: 20px;
    /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
    padding: 10px 223px;
    white-space: nowrap;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

/* style chat */


/*style otp */
.Tieude1 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    color: #00173D;
    /* Màu chữ */
    font-weight: bold;
    /* Chữ in đấm */
}

.rounded-square {
    width: 2px;
    height: 2px;
    background-color: #8098F9;
    border-radius: 8px;
    /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
    display: flex;
    justify-content: center;
    align-items: center;

}

.rounded-square input[type="text"] {
    text-align: center;
    background: #8098F9;
    color: #8098F9;
    border-radius: 3px;
    /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
    padding: 2px 2px;
    white-space: nowrap;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;

}

.otp-container {
    display: flex;

    justify-content: center;
    align-items: center;

}

.otp-input {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #929fd6;
    background-color: #b2bdec;
    border-radius: 5px;
    font-size: 20px;
}

.otp-input:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.otp-input:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.resend-btn {
    color: #8098F9;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.submit_in_otp {
    text-align: center;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #00173D;
    color: #D9D9D9;
    border-radius: 20px;
    /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
    padding: 10px 223px;
    white-space: nowrap;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

.backToLogin {
    text-align: right;
    margin-right: 10px;
}

.log-in {
    position: relative;
    top: 40px;
    left: 25px;

}

.log-in button {
    width: 850px;
    height: 40px;
    border-radius: 10px;
    background-color: #00173D;
    color: aliceblue;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.main1 .logo img {
    position: relative;
    top: 10px;
    left: 360px;
    width: 180px;
    height: 140px;
    border-radius: 50%;
}

.log-in button:hover {
    background-color: #054b36;
    color: aliceblue;
}

.dang-ki-tk button {
    position: relative;
    width: 900px;
    height: 40px;
    border-radius: 10px;
    background-color: #00173D;
    color: aliceblue;
    font-size: large;
    top: 80px;
    font-family: 'Times New Roman', Times, serif;
}

#BackBtn a{
    text-decoration: none;
    color: aliceblue;
}

button{
    margin: 40px 0 0 40px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #00173D;
    color: aliceblue;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

tr{
    display: inline-block;
    margin-right:30px;
}

select{
    width: 145px;
    height: 40px;
    border-radius: 10px;
    font-size: large-smaller;
    font-family: 'Times New Roman', Times, serif;
}

/* thanh điều khiển*/
nav{
    border: #00173D;
    border-radius: 40px;
    position: relative;
    /* top: 70px;
    right: 160px; */
    margin-right: 30px;
    width: 90px;
    height: 900px;
    margin-top: 130px;


    background: #00173D;
    overflow: hidden;
    transition: 1s;
}
/* animation cho thanh điều khiển*/
nav:hover{
    position: relative;
    /* top: 70px;
    right: 50px; */
    width: 300px;
}

/* Chỉnh logo và avatar*/
.logo{
    text-align: center;
    display: flex;
    margin: 0px 0px 0px 0px;
    padding-bottom: 2rem;
}
.logo img{
    height: 45px;
    width: 60px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase;
}
nav ul li a{
    position: relative;
    width: 280px;
    font-size: 14px;
    color: #C2E8F8;
    display: table;
    padding:10px
}
.avatar
{
    text-align: center;
    display: flex;
    margin: 0px 0px 0px 0px;
    padding-bottom: 1rem;
}
.avatar img{
    margin-left: 8px;
    height:50px;
    width: 50px;
    border-radius: 50%;
}
.avatar span{
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
    padding-left: 15px;
}

/* Chỉnh vị trí icon của thanh điều khiển*/
nav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 12px;
    font-size: 20px;
    text-align: center;
}
/* Chỉnh vị trí chữ của thanh điều khiển*/
.nav-item{ 
    position: relative;
    top: 12px;
    margin-left: 16px;
}
/*hiệu ứng thanh diều khiển*/
.side-bar-icon{
    width: 360px;
}
.side-bar-icon:hover{
    background: #C2E8F8;
}
.side-bar-icon:hover i{
    color: #00173D;
    transition: 0.5s;
}
.side-bar-icon:hover .nav-item{
    color: #00173D;
    transition: 0.5s;
}