<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin giảng viên</title>

    <link rel="stylesheet" href="style-modi-SV.css">
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="https://kit.fontawesome.com/2c32e62c1f.js" crossorigin="anonymous"></script>
</head>

<body ng-app="myapp" ng-controller="homeCtrl">
    <!-- Vị trí thanh nav, copy từ file HomeQTV.html qua
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        -->
    <nav>
        <ul>
            <li><a href="#" class="logo">
                    <img
                        src="https://firebasestorage.googleapis.com/v0/b/fir-d023a.appspot.com/o/Img%2FHome%2F01_logobachkhoasang.png?alt=media&token=6e835bd4-9c3f-4b16-8c4d-36f87c7e7c9d">

                    <span class="nav-item">bkel</span>
                </a></li>

            <!-- <li><a href="#" class="avatar">

                        <img src="https://firebasestorage.googleapis.com/v0/b/fir-d023a.appspot.com/o/Img%2FHome%2Fimg_avatar.png?alt=media&token=58662505-3b47-4043-9e5b-a475516b8d22"
                            alt="Avatar">

                        <span class="nav-item">Thông tin cá nhân</span>
                    </a></li> -->
            <!-- <li><a href="HomeQTV.html" class="side-bar-icon">
                        <i class="fas fa-home"></i>
                        <span class="nav-item">Trang chủ</span>
                    </a></li> -->
            <li><a href="registerADMIN.html" class="side-bar-icon">
                    <i class="fas fa-newspaper"></i>
                    <span class="nav-item">Đăng ký quản trị viên</span>
                </a></li>
            <li><a href="monhoc.html" class="side-bar-icon">
                    <i class="fas fa-newspaper"></i>
                    <span class="nav-item">Chỉnh sửa môn học</span>
                </a></li>
            <li><a href="modifySV.html" class="side-bar-icon">
                    <i class="fas fa-book-open-reader"></i>
                    <span class="nav-item">Chỉnh sửa sinh viên</span>
                </a></li>
            <li><a href="modifyGV.html" class="side-bar-icon">
                    <i class="fas fa-book-open-reader"></i>
                    <span class="nav-item">Chỉnh sửa giảng viên</span>
                </a></li>
            <li><a href="sap_xep_lich_hoc.html" class="side-bar-icon">
                    <i class="fas fa-book-open-reader"></i>
                    <span class="nav-item">Sắp xếp lịch học</span>
                </a></li>
            <li>
                <a href="#" class="side-bar-icon">
                    <i class="fas fa-solid fa-right-from-bracket"></i>
                    <span class="nav-item" id="signoutbutton">Đăng xuất</span>
                </a>
            </li>
            <!-- <div>
                        
                        <button type="button" ></button>
                    </div> -->
            </li>
        </ul>
    </nav>
    <!-- Vị trí thanh nav, copy từ file HomeQTV.html qua
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        -->
    <form id="MainForm">
        <div class="main1">
            <div class="logo">
                <img
                    src="https://firebasestorage.googleapis.com/v0/b/fir-d023a.appspot.com/o/Img%2FHome%2Flogo_DEF.jpg?alt=media&token=5c319bb6-f09c-4d0b-89d6-342fde279f9d">
            </div>

            <div class="Dang-nhap">
                Tài khoản giảng viên
            </div>
            <div class="input-box">
                Họ và Tên
                <div class="rounded-rectangle-login">
                    <input type="text" id="nameInp" class="input-field" placeholder="">
                </div>
            </div>
            <div class="input-box">
                Mã số giảng viên
                <div class="rounded-rectangle-login">
                    <input type="text" id="idInp" class="input-field" placeholder="GV + số gồm 3 chữ số, ví dụ: GV001">
                </div>
            </div>
            <div class="input-box">
                Email
                <div class="rounded-rectangle-login">
                    <input type="text" id="emailInp" class="input-field" placeholder="example@hcmut.edu.vn">
                </div>
            </div>
            <div class="input-box">
                Số điện thoại
                <div class="rounded-rectangle-login">
                    <input type="text" id="phoneInp" class="input-field" placeholder="">
                </div>
            </div>
            <div class="input-box">
                Giới tính
                <div class="rounded-rectangle-login">
                    <!-- <input type="text" id="sexInp" class="input-field" placeholder=""> -->
                    <select class="input-field" id="sexInp">
                        <option value=""></option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                    </select>
                </div>
            </div>
            <div class="input-box">
                Ngày sinh
                <div class="rounded-rectangle-login">
                    <input type="text" id="dobInp" class="input-field" placeholder="">
                </div>
            </div>
            <div class="input-box">
                CCCD
                <div class="rounded-rectangle-login">
                    <input type="text" id="cccdInp" class="input-field" placeholder="">
                </div>
            </div>
            <div class="input-box">
                Bằng cấp
                <div class="rounded-rectangle-login">
                    <!-- <input type="text" id="nganhInp" class="input-field" placeholder=""> -->
                    <select class="input-field" id="bangcapInp">
                        <option value=""></option>
                        <option value="Thạc Sĩ">Thạc Sĩ</option>
                        <option value="Tiến Sĩ">Tiến Sĩ</option>
                        <option value="Cử nhân">Cử nhân</option>
                    </select>
                </div>
            </div>
            <div class="input-box">
                Mật khẩu
                <div class="rounded-rectangle-login">
                    <input type="text" id="passwordInp" class="input-field" placeholder="">
                </div>
            </div>
            <div class="input-box" onchange="checkPassword()">
                Xác nhận mật khẩu
                <div class="rounded-rectangle-login">
                    <input type="text" id="confirmInp" class="input-field" placeholder="">
                </div>
            </div>
            <div class="confirm_css">
                <p id="message"></p>
            </div>

            <div class="input-box" id="infor">
                <table>
                    <tr>
                        <th>Tỉnh/Thành Phố: </th>
                        <td>
                            <div class="rounded-rectangle-login">
                                <select id="cityInp" class="form-control" ng-model="tinh"
                                    ng-options="tinh.Name for tinh in dsTinh" required name="tinh">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Quận/Huyện: </th>
                        <td>
                            <div class="rounded-rectangle-login">
                                <select id="districtInp" class="form-control" ng-model="quan"
                                    ng-options="quan.Name for quan in  tinh.Districts" required name="quan">
                                </select>
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <th>Phường/Xã:</th>
                        <td>
                            <div class="rounded-rectangle-login">
                                <select id="xaInp" class="form-control" ng-model="phuong"
                                    ng-options="phuong.Name for phuong in quan.Wards" required name="phuong">
                                </select>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="input-box">
                Địa chỉ cụ thể
                <div class="rounded-rectangle-login">
                    <input type="text" id="addressInp" class="input-field" placeholder=""
                        value=" , {{phuong.Name}}, {{quan.Name}}, {{tinh.Name}}">
                </div>


            </div>

            <div class="input-box">
                Tất cả các môn giảng dạy hiện tại của giảng viên (chỉ đọc)
                <div class="rounded-rectangle-login">
                    <input type="text" id="subInp" class="input-field" placeholder="" readonly>
                </div>
            </div>

            <button id="AddBtn">Thêm giảng viên</button>
            <button id="RetBtn">Tìm kiếm</button>
            <button id="UpdBtn">Cập nhật</button>
            <button id="DelBtn">Xóa giảng viên</button>

            <p>Lưu ý: các dòng phía dưới phải theo định dạng như sau: CH1003,C01005,CO1007</p>

            <div class="input-box">
                Các môn giảng viên muốn HỦY đăng ký giảng dạy trong các môn hiện tại
                <div class="rounded-rectangle-login">
                    <input type="text" id="cancelsubInp" class="input-field" placeholder="">
                </div>
            </div>

            <div class="input-box">
                Các môn giảng viên muốn ĐĂNG KÝ giảng dạy ngoài các môn hiện tại
                <div class="rounded-rectangle-login">
                    <input type="text" id="addsubInp" class="input-field" placeholder="">
                </div>


                <button id="AddSubBtn">Thêm môn mới</button>
                <button id="CanSubBtn">Xóa môn cũ</button>

                <button id="BackBtn"><a href="HomeQTV.html">Back</a></button>
            </div>
    </form>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";

        const firebaseConfig = {
            apiKey: "AIzaSyDQk0PGIztg7qltOimH1_9_lLl5rluKsV8",
            authDomain: "fir-d023a.firebaseapp.com",
            databaseURL: "https://fir-d023a-default-rtdb.firebaseio.com",
            projectId: "fir-d023a",
            storageBucket: "fir-d023a.appspot.com",
            messagingSenderId: "81322751429",
            appId: "1:81322751429:web:eeb12e1ec56b1970c807ac",
            measurementId: "G-KZQQJNVVWJ"
        };

        const app = initializeApp(firebaseConfig);

        import { getDatabase, set, ref, child, get, update, remove } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-database.js";
        import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js";

        const db = getDatabase(app);
        const auth = getAuth(app);

        let EmailInp = document.getElementById('emailInp');
        let PassInp = document.getElementById('passwordInp');
        let NameInp = document.getElementById('nameInp');
        let IdInp = document.getElementById('idInp');
        let CityInp = document.getElementById('cityInp');
        let DistrictInp = document.getElementById('districtInp');
        let XaInp = document.getElementById('xaInp');
        let AddressInp = document.getElementById('addressInp');
        let PhoneInp = document.getElementById('phoneInp');
        let SubInp = document.getElementById('subInp');
        let CancelSubInp = document.getElementById('cancelsubInp');
        let AddSubInp = document.getElementById('addsubInp');
        let SexInp = document.getElementById('sexInp');
        let DobInp = document.getElementById('dobInp');
        let CccdInp = document.getElementById('cccdInp');
        let BangCapInp = document.getElementById('bangcapInp');

        let AddBtn = document.getElementById('AddBtn');
        let RetBtn = document.getElementById('RetBtn');
        let UpdBtn = document.getElementById('UpdBtn');
        let DelBtn = document.getElementById('DelBtn');
        let AddSubBtn = document.getElementById('AddSubBtn');
        let CanSubBtn = document.getElementById('CanSubBtn');

        //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        let AddData = evt => {
            evt.preventDefault();

            createUserWithEmailAndPassword(auth, EmailInp.value, PassInp.value)
                .then((credentials) => {
                    set(ref(db, 'GiangVien/' + IdInp.value), {
                        ho_va_ten: NameInp.value,
                        email: EmailInp.value,
                        id: IdInp.value,
                        so_dien_thoai: PhoneInp.value,
                        mat_khau: PassInp.value,
                        dia_chi: AddressInp.value,
                        cccd: CccdInp.value,
                        gioi_tinh: SexInp.value,
                        ngay_sinh: DobInp.value,
                        bang_cap: BangCapInp.value
                    });
                    alert("Đăng ký thông tin thành công! ");
                }

                )
                .catch((error) => {
                    alert(error.message);
                    console.log(error.code);
                    console.log(error.message);
                });

        }

        //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        let AddSubjectData = () => {
            let str = new String();
            const dbRef = ref(db);
            get(child(dbRef, 'GiangVien/' + IdInp.value)).then((snapshot) => {
                if (snapshot.exists()) {
                    if (snapshot.val().mon != null) {
                        str = snapshot.val().mon;
                    }
                    else {
                        str = "";
                    }
                } else {
                    alert("No data available");
                    console.log("No data available");
                }

                if (str.length > 0) {
                    str += ("," + AddSubInp.value);
                }
                else {
                    str = AddSubInp.value;
                }
                update(ref(db, 'GiangVien/' + IdInp.value), {
                    mon: str
                });
                let s = new String(AddSubInp.value);
                let n = s.length;
                let arr = new Array();
                for (let i = 0; i < n; i++) {
                    if (s[i] == ',') {
                        arr.push(s.substring(0, i));
                        s = s.substring(i + 1, n);
                        n = s.length;
                        i = 0;
                    }
                    else if (i == n - 1) arr.push(s);
                }
                let sophantucuamang = arr.length;


                for (let i = 0; i < sophantucuamang; i++) {
                    set(ref(db, 'MonHoc/' + arr[i] + '/tong_so_giang_vien/' + IdInp.value), {
                        username: NameInp.value
                    })
                }
                alert("Thêm " + sophantucuamang + " môn mới thành công!");
            });
        }
        //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        let CancelSubjectData = () => {
            let str = new String();
            const dbRef = ref(db);
            get(child(dbRef, 'GiangVien/' + IdInp.value)).then((snapshot) => {
                if (snapshot.exists()) {
                    if (snapshot.val().mon != null) {
                        str = snapshot.val().mon;
                    }
                    else {
                        str = "";
                        alert("Chưa có môn nào để xóa!");
                        return;
                    }
                } else {
                    alert("No data available");
                    console.log("No data available");
                }

                let s = new String(CancelSubInp.value);
                let n = s.length;
                let arr = new Array();
                for (let i = 0; i < n; i++) {
                    if (s[i] == ',') {
                        arr.push(s.substring(0, i));
                        s = s.substring(i + 1, n);
                        n = s.length;
                        i = 0;
                    }
                    else if (i == n - 1) arr.push(s);
                }
                let sophantucuamang = arr.length;
                for (let i = 0; i < sophantucuamang; i++) {
                    remove(ref(db, 'MonHoc/' + arr[i] + '/tong_so_giang_vien/' + IdInp.value));
                }

                let s_tmp = new String(str);
                let n_tmp = s_tmp.length;
                let arr_tmp = new Array();
                for (let i = 0; i < n_tmp; i++) {
                    if (s_tmp[i] == ',') {
                        arr_tmp.push(s_tmp.substring(0, i));
                        s_tmp = s_tmp.substring(i + 1, n_tmp);
                        n_tmp = s_tmp.length;
                        i = 0;
                    }
                    else if (i == n_tmp - 1) arr_tmp.push(s_tmp);
                }
                let sophantucuamang_tmp = arr_tmp.length;
                if (sophantucuamang_tmp == sophantucuamang) {
                    update(ref(db, 'GiangVien/' + IdInp.value), {
                        mon: null
                    });
                    alert("Đã xóa hết môn giảng viên này giảng dạy!");
                    return;
                }
                let tenmonhoccuoicung = new String("");
                //alert(arr_tmp + " " + arr);
                for (let i = 0; i < sophantucuamang_tmp; i++) {
                    let flag = false;
                    for (let j = 0; j < sophantucuamang; j++) {
                        if (arr_tmp[i] == arr[j]) {
                            //alert("Mon hoc " + arr_tmp[i] + " da bi xoa!");
                            flag = true;
                            break;
                        }
                        //else alert("Mon hoc " + arr_tmp[i] + " chua bi xoa!");
                    }
                    if (flag == false) {
                        tenmonhoccuoicung += (arr_tmp[i] + ",");
                    }
                }
                if (tenmonhoccuoicung.length > 0) {
                    tenmonhoccuoicung = tenmonhoccuoicung.substring(0, tenmonhoccuoicung.length - 1);
                    //alert("Các môn giảng viên còn giảng dạy sau khi xóa: " + tenmonhoccuoicung);
                }
                else {
                    alert("Đã xóa hết môn giảng viên này giảng dạy!");
                    tenmonhoccuoicung = null;
                }
                update(ref(db, 'GiangVien/' + IdInp.value), {
                    mon: tenmonhoccuoicung
                });
                alert("Xóa " + sophantucuamang + " môn cũ thành công!");
            });



        }
        //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        let RetData = () => {
            const dbRef = ref(db);
            get(child(dbRef, 'GiangVien/' + IdInp.value)).then((snapshot) => {
                if (snapshot.exists()) {
                    NameInp.value = snapshot.val().ho_va_ten;
                    EmailInp.value = snapshot.val().email;
                    PhoneInp.value = snapshot.val().so_dien_thoai;
                    PassInp.value = snapshot.val().mat_khau;
                    AddressInp.value = snapshot.val().dia_chi;
                    CccdInp.value = snapshot.val().cccd;
                    SexInp.value = snapshot.val().gioi_tinh;
                    DobInp.value = snapshot.val().ngay_sinh;
                    BangCapInp.value = snapshot.val().bang_cap;
                    if (snapshot.val().mon != null) {
                        SubInp.value = snapshot.val().mon;
                    }
                    else {
                        SubInp.value = "Chưa có môn nào";
                    }
                } else {
                    alert("No data available");
                    console.log("No data available");
                }
            }).catch((error) => {
                console.error(error);
            });
        }
        //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        let UpdData = () => {
            let str = new String();
            const dbRef = ref(db);
            get(child(dbRef, 'GiangVien/' + IdInp.value)).then((snapshot) => {
                if (snapshot.exists()) {
                    if (snapshot.val().mon != null) {
                        str = snapshot.val().mon;
                    }
                    else {
                        str = "";
                    }
                } else {
                    alert("No data available");
                    console.log("No data available");
                }

                update(ref(db, 'GiangVien/' + IdInp.value), {
                    ho_va_ten: NameInp.value,
                    so_dien_thoai: PhoneInp.value,
                    mat_khau: PassInp.value,
                    dia_chi: AddressInp.value,
                    cccd: CccdInp.value,
                    gioi_tinh: SexInp.value,
                    ngay_sinh: DobInp.value,
                    bang_cap: BangCapInp.value
                });

                let s = new String(str);
                let n = s.length;
                let arr = new Array();
                for (let i = 0; i < n; i++) {
                    if (s[i] == ',') {
                        arr.push(s.substring(0, i));
                        s = s.substring(i + 1, n);
                        n = s.length;
                        i = 0;
                    }
                    else if (i == n - 1) arr.push(s);
                }
                let sophantucuamang = arr.length;


                for (let i = 0; i < sophantucuamang; i++) {
                    update(ref(db, 'MonHoc/' + arr[i] + '/tong_so_giang_vien/' + IdInp.value), {
                        ho_va_ten: NameInp.value
                    })
                }
                alert("Cập nhật thông tin thành công!");
            });
        }

        let DelData = () => {
            remove(ref(db, 'GiangVien/' + IdInp.value));
            let s = new String(SubInp.value);
            let n = s.length;
            let arr = new Array();
            for (let i = 0; i < n; i++) {
                if (s[i] == ',') {
                    arr.push(s.substring(0, i));
                    s = s.substring(i + 1, n);
                    n = s.length;
                    i = 0;
                }
                else if (i == n - 1) arr.push(s);
            }
            let sophantucuamang = arr.length;
            for (let i = 0; i < sophantucuamang; i++) {
                remove(ref(db, 'MonHoc/' + arr[i] + '/tong_so_giang_vien/' + IdInp.value));
            }
            alert("Data deleted successfully!");
        }

        AddBtn.addEventListener('click', AddData);

        RetBtn.addEventListener('click', evt => {
            evt.preventDefault();
            RetData();
        });

        UpdBtn.addEventListener('click', evt => {
            evt.preventDefault();
            UpdData();
        });

        DelBtn.addEventListener('click', evt => {
            evt.preventDefault();
            DelData();
        });

        AddSubBtn.addEventListener('click', evt => {
            evt.preventDefault();
            AddSubjectData();
        });

        CanSubBtn.addEventListener('click', evt => {
            evt.preventDefault();
            CancelSubjectData();
        });

        let UserInfo = JSON.parse(sessionStorage.getItem("user-info"));

        let MsgHead = document.getElementById("msg");
        let GreetHead = document.getElementById("greet");
        let SignOutBtn = document.getElementById("signoutbutton");


        let SignOut = () => {
            sessionStorage.removeItem("user-creds");
            sessionStorage.removeItem("user-info");
            window.location.href = "index.html";
        }

        SignOutBtn.addEventListener('click', SignOut);
    </script>
    <script src="checkmk.js"></script>
</body>

</html>