<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin sinh viên</title>

    <link rel="stylesheet" href="./css/QuanTriVien/style-modi-SV.css">
    <script src="./js/QuanTriVien/angular.min.js"></script>
    <script src="./js/QuanTriVien/angular-route.min.js"></script>
    <script src="./js/QuanTriVien/app.js"></script>
    <script src="./js/QuanTriVien/checkmk.js"></script>
    <script src="https://kit.fontawesome.com/2c32e62c1f.js" crossorigin="anonymous"></script>
    <script src="./js/chung/DangXuat.js" type="module"></script>
</head>

<body ng-app="myapp" ng-controller="homeCtrl">
    <!-- Vị trí thanh nav, copy từ file HomeQTV.html qua
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        -->
    <nav>
        <ul>
            <li><a href="#" class="logo">
                    <img
                        src="https://firebasestorage.googleapis.com/v0/b/fir-d023a.appspot.com/o/Img%2FHome%2F01_logobachkhoasang.png?alt=media&token=6e835bd4-9c3f-4b16-8c4d-36f87c7e7c9d">

                    <span class="nav-item">bkel</span>
                </a></li>

            <!-- <li><a href="#" class="avatar">

                        <img src="https://firebasestorage.googleapis.com/v0/b/fir-d023a.appspot.com/o/Img%2FHome%2Fimg_avatar.png?alt=media&token=58662505-3b47-4043-9e5b-a475516b8d22"
                            alt="Avatar">

                        <span class="nav-item">Thông tin cá nhân</span>
                    </a></li> -->
            <li><a href="HomeQTV.html" class="side-bar-icon">
                    <i class="fas fa-home"></i>
                    <span class="nav-item">Trang chủ</span>
                </a></li>
            <li><a href="registerADMIN.html" class="side-bar-icon">
                    <i class="fas fa-newspaper"></i>
                    <span class="nav-item">Đăng ký quản trị viên</span>
                </a></li>
            <li><a href="monhoc.html" class="side-bar-icon">
                    <i class="fas fa-newspaper"></i>
                    <span class="nav-item">Chỉnh sửa học kì và môn học</span>
                </a></li>
            <li><a href="modifySV.html" class="side-bar-icon">
                    <i class="fas fa-book-open-reader"></i>
                    <span class="nav-item">Chỉnh sửa sinh viên</span>
                </a></li>
            <li><a href="modifyGV.html" class="side-bar-icon">
                    <i class="fas fa-book-open-reader"></i>
                    <span class="nav-item">Chỉnh sửa giảng viên</span>
                </a></li>
            <li><a href="sap_xep_lop_hoc.html" class="side-bar-icon">
                    <i class="fas fa-book-open-reader"></i>
                    <span class="nav-item">Sắp xếp lớp học</span>
                </a></li>
            <li>
                <a href="#" class="side-bar-icon">
                    <i class="fas fa-solid fa-right-from-bracket"></i>
                    <span class="nav-item" id="signoutbutton">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- Vị trí thanh nav, copy từ file HomeQTV.html qua
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        -->

    <form id="MainForm">
        <div class="main1">
            <div class="Dang-nhap">
                TÀI KHOẢN SINH VIÊN
            </div>
            <div class="title" id="thongtinsinhvien">
                THÔNG TIN SINH VIÊN
            </div>
            <div class="input-box" id="hovaten">
                Họ và Tên
                <div class="rounded-rectangle-login">
                    <input type="text" id="nameInp" class="input-field" placeholder="">
                </div>
            </div>
            <div class="input-box" id="mssv">
                Mã số sinh viên
                <div class="rounded-rectangle-login">
                    <input type="text" id="idInp" class="input-field" placeholder="SV + số gồm 3 chữ số, ví dụ: SV001">
                </div>
            </div>

            <div class="input-box" id="sex">
                Giới tính
                <div class="rounded-rectangle-login">
                    <select class="select-box" id="sexInp">
                        <option value=""></option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                    </select>
                </div>
            </div>
            <div class="input-box" id="ngaysinh">
                Ngày sinh
                <div class="rounded-rectangle-login">
                    <input type="text" id="dobInp" class="input-field" placeholder="">
                </div>
            </div>
            <div class="input-box" id="cancuoc">
                CCCD
                <div class="rounded-rectangle-login">
                    <input type="text" id="cccdInp" class="input-field" placeholder="">
                </div>
            </div>
            <div class="input-box" id="emaill">
                Email
                <div class="rounded-rectangle-login">
                    <input type="text" id="emailInp" class="input-field" placeholder="example@hcmut.edu.vn">
                </div>
            </div>
            <div class="input-box" id="SDT">
                Số điện thoại
                <div class="rounded-rectangle-login">
                    <input type="text" id="phoneInp" class="input-field" placeholder="">
                </div>
            </div>
            <div class="input-box" id="infor">
                <table>
                    <thead>
                        <tr><td>Tỉnh/Thành phố:</td> </tr>
                        <tr><td>Quận/Huyện:</td></tr>
                        <tr><td>Phường/Xã:</td></tr>
                    </thead>
                    <tbody>
                        <tr class="ps-tinh">

                            <td>
                                <div class="rounded-rectangle-login">
                                    <select id="cityInp" class="select-box" ng-model="tinh"
                                        ng-options="tinh.Name for tinh in dsTinh" required name="tinh">
                                    </select>
                                </div>
                            </td>
                        </tr>

                        <tr class="ps-quan">
                            <td>
                                <div class="rounded-rectangle-login">
                                    <select id="districtInp" class="select-box" ng-model="quan"
                                        ng-options="quan.Name for quan in  tinh.Districts" required name="quan">
                                    </select>
                                </div>
                            </td>

                        </tr>

                        <tr class="ps-phuong">
                            <td>
                                <div class="rounded-rectangle-login">
                                    <select id="xaInp" class="select-box" ng-model="phuong"
                                        ng-options="phuong.Name for phuong in quan.Wards" required name="phuong">
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="input-box" id="diachi">
                Địa chỉ cụ thể
                <div class="rounded-rectangle-login">
                    <input type="text" id="addressInp" class="input-field" placeholder=""
                        value=" , {{phuong.Name}}, {{quan.Name}}, {{tinh.Name}}">
                </div>
            </div>

            <div class="input-box" id="mk">
                Mật khẩu
                <div class="rounded-rectangle-login">
                    <input type="text" id="passwordInp" class="input-field" placeholder="">
                </div>
            </div>
            <div class="input-box" onchange="checkPassword()" id="check">
                Xác nhận mật khẩu
                <div class="rounded-rectangle-login">
                    <input type="text" id="confirmInp" class="input-field" placeholder="">
                </div>
            </div>
            <div class="confirm_css">
                <p id="message"></p>
            </div>

            

            <div class="input-box" id="hocvu">
                <div class="title" id="thongtinhocvu">
                    THÔNG TIN HỌC VỤ
                </div>

                <div class="input-box" id="nganhhoc">
                    Ngành học
                    <div class="rounded-rectangle-login">
                        <select class="select-box" id="nganhInp">
                            <option value=""></option>
                            <option value="Khoa học máy tính">Khoa học máy tính</option>
                            <option value="Kỹ thuật máy tính">Kỹ thuật máy tính</option>
                            <option value="Điện-Điện tử">Điện-Điện tử</option>
                            <option value="Xây dựng">Xây dựng</option>
                            <option value="Cơ khí">Cơ khí</option>
                        </select>
                    </div>
                </div>
                <div class="input-box" id="hedaotao">
                    Hệ đào tạo
                    <div class="rounded-rectangle-login">
                        <select class="select-box" id="hedaotaoInp">
                            <option value=""></option>
                            <option value="Chính quy">Chính quy</option>
                            <option value="Chất lượng cao">Chất lượng cao</option>
                            <option value="Vừa học vừa làm">Vừa học vừa làm</option>
                        </select>
                    </div>
                </div>
                <div class="input-box" id="khoa">
                    Khóa
                    <div class="rounded-rectangle-login">
                        <input type="text" id="khoaInp" class="input-field" placeholder="Kxx">
                    </div>
                </div>
                <div class="input-box" id="start">
                    Ngày bắt đầu học
                    <div class="rounded-rectangle-login">
                        <input type="text" id="startstudyInp" class="input-field"
                            placeholder="dd/mm/yyyy - ví dụ: 01/10/2020">
                    </div>
                </div>
                <div class="input-box" id="end">
                    Ngày kết thúc học
                    <div class="rounded-rectangle-login">
                        <input type="text" id="endstudyInp" class="input-field" placeholder="" readonly>
                    </div>
                </div>
                <div class="input-box" id="complete">
                    Số tín chỉ đã hoàn thành
                    <div class="rounded-rectangle-login">
                        <input type="text" id="tinchihoanthanh" class="input-field" placeholder="" readonly>
                    </div>
                </div>
            </div>

            <div class="input-box" id="gt-btn">
                <button id="AddBtn">Thêm mới</button>
                <button id="RetBtn">Tìm kiếm</button>
                <button id="UpdBtn">Cập nhật</button>
                <button id="DelBtn">Xóa</button>
            </div>
        </div>
    </form>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";

        const firebaseConfig = {
            apiKey: "AIzaSyDQk0PGIztg7qltOimH1_9_lLl5rluKsV8",
            authDomain: "fir-d023a.firebaseapp.com",
            databaseURL: "https://fir-d023a-default-rtdb.firebaseio.com",
            projectId: "fir-d023a",
            storageBucket: "fir-d023a.appspot.com",
            messagingSenderId: "81322751429",
            appId: "1:81322751429:web:eeb12e1ec56b1970c807ac",
            measurementId: "G-KZQQJNVVWJ"
        };

        const app = initializeApp(firebaseConfig);

        import { getDatabase, set, ref, child, get, update, remove } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-database.js";
        import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js";

        const db = getDatabase(app);
        const auth = getAuth(app);

        let EmailInp = document.getElementById('emailInp');
        let PassInp = document.getElementById('passwordInp');
        let NameInp = document.getElementById('nameInp');
        let IdInp = document.getElementById('idInp');
        let CityInp = document.getElementById('cityInp');
        let DistrictInp = document.getElementById('districtInp');
        let XaInp = document.getElementById('xaInp');
        let AddressInp = document.getElementById('addressInp');
        let PhoneInp = document.getElementById('phoneInp');
        let TinChiInp = document.getElementById('tinchihoanthanh');
        let SexInp = document.getElementById('sexInp');
        let DobInp = document.getElementById('dobInp');
        let CccdInp = document.getElementById('cccdInp');
        let NganhInp = document.getElementById('nganhInp');
        let HeDaoTaoInp = document.getElementById('hedaotaoInp');
        let StartStudyInp = document.getElementById('startstudyInp');
        let EndStudyInp = document.getElementById('endstudyInp');

        let AddBtn = document.getElementById('AddBtn');
        let RetBtn = document.getElementById('RetBtn');
        let UpdBtn = document.getElementById('UpdBtn');
        let DelBtn = document.getElementById('DelBtn');

        let AddData = evt => {
            evt.preventDefault();

            createUserWithEmailAndPassword(auth, EmailInp.value, PassInp.value, IdInp.value)
                .then((credentials) => {
                    set(ref(db, 'SinhVien/' + IdInp.value), {
                        ho_va_ten: NameInp.value,
                        email: EmailInp.value,
                        id: IdInp.value,
                        so_dien_thoai: PhoneInp.value,
                        mat_khau: PassInp.value,
                        dia_chi: AddressInp.value,
                        cccd: CccdInp.value,
                        gioi_tinh: SexInp.value,
                        ngay_sinh: DobInp.value,
                        nganh: NganhInp.value,
                        he_dao_tao: HeDaoTaoInp.value,
                        ngay_bat_dau_hoc: StartStudyInp.value,
                        so_tin_chi_hoan_thanh: "0",
                    });
                    if (HeDaoTaoInp.value == "Chính quy") {
                        EndStudyInp.value = StartStudyInp.value.trim().substring(0, 6) + (parseInt(StartStudyInp.value.trim().substring(6, 10)) + 4).toString();
                    }
                    else if (HeDaoTaoInp.value == "Chất lượng cao") {
                        EndStudyInp.value = StartStudyInp.value.trim().substring(0, 6) + (parseInt(StartStudyInp.value.trim().substring(6, 10)) + 5).toString();
                    }
                    else if (HeDaoTaoInp.value == "Vừa học vừa làm") {
                        EndStudyInp.value = StartStudyInp.value.trim().substring(0, 6) + (parseInt(StartStudyInp.value.trim().substring(6, 10)) + 3).toString();
                    }
                    update(ref(db, 'SinhVien/' + IdInp.value), {
                        ngay_ket_thuc_hoc: EndStudyInp.value
                    });

                    alert("Đăng ký thành công!");
                }

                )
                .catch((error) => {
                    alert(error.message);
                    console.log(error.code);
                    console.log(error.message);
                });

        }

        let RetData = () => {
            const dbRef = ref(db);
            get(child(dbRef, 'SinhVien/' + IdInp.value)).then((snapshot) => {
                if (snapshot.exists()) {
                    NameInp.value = snapshot.val().ho_va_ten;
                    EmailInp.value = snapshot.val().email;
                    PhoneInp.value = snapshot.val().so_dien_thoai;
                    PassInp.value = snapshot.val().mat_khau;
                    AddressInp.value = snapshot.val().dia_chi;
                    CccdInp.value = snapshot.val().cccd;
                    SexInp.value = snapshot.val().gioi_tinh;
                    DobInp.value = snapshot.val().ngay_sinh;
                    NganhInp.value = snapshot.val().nganh;
                    HeDaoTaoInp.value = snapshot.val().he_dao_tao;
                    StartStudyInp.value = snapshot.val().ngay_bat_dau_hoc;
                    EndStudyInp.value = snapshot.val().ngay_ket_thuc_hoc;
                    so_tin_chi_hoan_thanh.value = snapshot.val().so_tin_chi_hoan_thanh;
                } else {
                    alert("No data available");
                    console.log("No data available");
                }
            }).catch((error) => {
                console.error(error);
            });
        }

        let UpdData = () => {
            update(ref(db, 'SinhVien/' + IdInp.value), {
                ho_va_ten: NameInp.value,
                email: EmailInp.value,
                so_dien_thoai: PhoneInp.value,
                mat_khau: PassInp.value,
                dia_chi: AddressInp.value,
                cccd: CccdInp.value,
                ngay_sinh: DobInp.value,
                gioi_tinh: SexInp.value,
                nganh: NganhInp.value,
                he_dao_tao: HeDaoTaoInp.value,
                ngay_bat_dau_hoc: StartStudyInp.value
            }).then(() => {
                if (HeDaoTaoInp.value == "Chính quy") {
                    EndStudyInp.value = StartStudyInp.value.trim().substring(0, 6) + (parseInt(StartStudyInp.value.trim().substring(6, 10)) + 4).toString();
                }
                else if (HeDaoTaoInp.value == "Chất lượng cao") {
                    EndStudyInp.value = StartStudyInp.value.trim().substring(0, 6) + (parseInt(StartStudyInp.value.trim().substring(6, 10)) + 5).toString();
                }
                else if (HeDaoTaoInp.value == "Vừa học vừa làm") {
                    EndStudyInp.value = StartStudyInp.value.trim().substring(0, 6) + (parseInt(StartStudyInp.value.trim().substring(6, 10)) + 3).toString();
                }
                update(ref(db, 'SinhVien/' + IdInp.value), {
                    ngay_ket_thuc_hoc: EndStudyInp.value
                });
                alert("Data updated successfully!");
            }).catch((error) => {
                alert("Data could not be updated!" + error);
                console.error(error);
            });
        }

        let DelData = () => {
            remove(ref(db, 'SinhVien/' + IdInp.value)).then(() => {
                alert("Data deleted successfully!");
            }).catch((error) => {
                alert("Data could not be deleted!" + error);
                console.error(error);
            });
        }

        AddBtn.addEventListener('click', AddData);

        RetBtn.addEventListener('click', evt => {
            evt.preventDefault();
            RetData();
        });

        UpdBtn.addEventListener('click', evt => {
            evt.preventDefault();
            UpdData();
        });

        DelBtn.addEventListener('click', evt => {
            evt.preventDefault();
            DelData();
        });

        let UserInfo = JSON.parse(sessionStorage.getItem("user-info"));

        let MsgHead = document.getElementById("msg");
        let GreetHead = document.getElementById("greet");
        let SignOutBtn = document.getElementById("signoutbutton");


        let SignOut = () => {
            sessionStorage.removeItem("user-creds");
            sessionStorage.removeItem("user-info");
            window.location.href = "index.html";
        }

        SignOutBtn.addEventListener('click', SignOut);
    </script>
</body>

</html>