*{
    margin: 0;
    padding: 0;

}

/* style trong index */
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg) ;
    background-position: center;
    background-size: cover ;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #ff7200;
    font-size : 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px; 
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

/*style trong login */
body {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100vh; /* Chiều cao của toàn bộ trang */
    background-color: #E8F1F2   ; /* Màu nền của toàn bộ trang */
    margin: 0; /* Loại bỏ margin mặc định */
    padding: 0; /* Loại bỏ padding mặc định */
  }

.main1 {
    width: 500px;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 50px; /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
    margin: 20px;
    justify-content: center;
    align-items: center;
}
.Dang-nhap {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    color: #333; /* Màu chữ */
    font-weight: bold; /* Chữ in đậm */
}

.input-box{
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
    font-size: 15px;
    color: #333; /* Màu chữ */
    font-weight: bold; /* Chữ in đậm */
}

.rounded-rectangle-login input[type="text"] {
    width: 450px;
    height: 20px;
    margin-left: 5px;
    padding: 10px; /* Khoảng cách bên trong input */ 
    border: none; /* Loại bỏ viền */
    background-color: #D9D9D9;
    border-radius: 20px; /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
    display: flex;
    justify-content: center;
    align-items: center;

}

.remember-login {
    margin: 20px;
    font-size: 10px;

}

.rounded-rectangle {
    width: 324px;
    height: 69px;
    background-color: #C2E8F8;
    border-radius: 20px; /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
}
/*
.text-on-Sign-in {
    position: absolute;
    font-size: 18px;
    color: #D9D9D9; /* Màu chữ 
  }
*/

.forgot-pass{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 10px;  
    color: #000000; /* Màu chữ */
    font-weight: bold; /* Chữ in đậm */

}

.Sign-in{
    text-align: center;
    margin-top: 15px;
    margin-left: 12px;
    margin-bottom: 10px;
    background: #00173D;
    color: #D9D9D9;
    border-radius: 20px; /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
    padding: 10px 203px;
    white-space: nowrap;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

.notAccount{
    margin-left: 10px;
    font-size: 15px;
}

/* style register */
.already-account-index{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}
.Sign-up{
    text-align: center; 
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    background: #00173D;
    color: #D9D9D9;
    border-radius: 20px; /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
    padding: 10px 191px;
    white-space: nowrap;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

.already-account {
    text-align: right;
    margin-right: 10px;

}

/* style forgotPass */

.sign-forgot{
    text-align: center; 
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #00173D;
    color: #D9D9D9;
    border-radius: 20px; /* Điều chỉnh giá trị này để thay đổi độ cong của góc */
    padding: 10px 223px;
    white-space: nowrap;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}
/* style chat */



