*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background: #E8F1F2;
    height: 100vh;
}
/* thanh điều khiển*/
nav{
    border: #00173D;
    border-radius: 40px;
    position: sticky;
    left: 10px;
    width: 98px;
    height: 97vh;
    margin-top: 10px;
    background: #00173D;
    overflow: hidden;
    transition: 1s;
}
/* animation cho thanh điều khiển*/
nav:hover{
    width: 360px;
}

/* Chỉnh logo và avatar*/
.logo{
    text-align: center;
    display: flex;
    margin: 0px 0px 0px 0px;
    padding-bottom: 2rem;
}
.logo img{
    height: 45px;
    width: 60px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase;
}
a{
    position: relative;
    width: 280px;
    font-size: 14px;
    color: #C2E8F8;
    display: table;
    padding:10px
}
.avatar
{
    text-align: center;
    display: flex;
    margin: 0px 0px 0px 0px;
    padding-bottom: 1rem;
}
.avatar img{
    height:50px;
    width: 50px;
    border-radius: 50%;
}
.avatar span{
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    text-transform: uppercase;
}

/* Chỉnh vị trí icon của thanh điều khiển*/
nav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 12px;
    font-size: 20px;
    text-align: center;
}
/* Chỉnh vị trí chữ của thanh điều khiển*/
.nav-item{ 
    position: relative;
    top: 12px;
    margin-left: 16px;
}
/*hiệu ứng thanh diều khiển*/
.side-bar-icon:hover{
    background: #C2E8F8;
}
.side-bar-icon:hover i{
    color: #00173D;
    transition: 0.5s;
}
.side-bar-icon:hover .nav-item{
    color: #00173D;
    transition: 0.5s;
}
.container{
    display: flex;
}

.main{
    position: relative;
    padding: 40px;
    width: 100%;
}
.main-top{
    display: grid;
    width: 100%;
    color: #00173D;
    height: auto;
}
.main-top ul li{
    list-style-type: none;
}
.notifications-and-messages {
    position: absolute;
    right:0;
    margin: 10px 30px;
    font-size: 1.5rem;
    
}
.notifications-and-messages i{
    margin: 10px;
}
.main .main-top .ima-status{
    position: relative;
    top:20px;
    left: 150px;
    
    
}
.main .main-top .ima-status img{
    width: 940px;
    height: 260px;
    border-radius: 20px;
}
/* .main .main-top .ima-status img:hover{
    width: 970px;
    height: 290px;
    border-radius: 20px;
    
} */
.main .main-top .diploma-list a{
    position: relative;
    display: inline-block;
    top:20px;
    left: 250px;
    color:#C2E8F8;
    border-radius: 10px;
    background-color: #21c2d4;
    width: 200px;
    height: 100px;
    margin: 20px 20px;
    text-align: center;
}
.main .main-top .diploma-list a ul li{
    list-style-type: none;
}
.main .main-top .diploma-list a:hover{
    color: #21c2d4;
    background-color: black;
    transition: 1s;
    width: 220px;
    height: 120px;
}
.main .main-top .progress-multi ul li p{
    display: inline-block;
    text-align: center;

}
.main .main-top .progress-multi ul {
    display: inline-block;
    list-style-type: none;
    margin: 15px;
    
}
.main .main-top .progress-multi{
    position: relative;
    top:20px;
    left: 250px;
}
.main .main-top .progress-multi ul li{
    color:#C2E8F8;
    border-radius: 10px;
    background-color: #17227a;
    width: 300px;
    height: 40px;
    margin: 20px 10px;
    padding-top: 10px;
    text-align: center;
}
.main .main-top .progress-multi ul li:hover{    
    width: 320px;
    height: 60px;
    color: #17227a;
    background-color: rgb(213, 187, 55);
    transition: 0.75s;
} 
.fa-solid{
    position: relative;
    top:10px;
    width: 70px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    
}
#signoutbutton{
    position: relative;
    margin-left: 16px;
}


