/* Overlay Style */
.overlay {
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Ensure it sits above other content */
    display: none; /* Hide by default */
}

/* Popup Style */
#editPopup {
    position: fixed; /* Fixed position */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the popup */
    justify-content: center; /* Center contents horizontally */
    z-index: 2; /* Ensure it sits above the overlay */
    background-color: #fff; /* White background */
    padding: 20px;
    border: 1px solid #ddd; /* Add a border */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); /* Add some shadow */
    display: none; /* Hide by default */
}

.editContent {
    display: flex;
    justify-content: center; /* Center contents horizontally */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center contents vertically */
    width: 100%; /* Take full width to center align in parent */
}
.input-container {
    display: flex;
    justify-content: center; /* Center contents horizontally */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center contents vertically */
    width: 100%; /* Take full width to center align in parent */
}
/* Style the modal */
body {
    font-family: "Poppins",sans-serif;
  }
  
  
  .table {
      border: 2px solid black;
      border-collapse: collapse;
    }
  
  .table th, .table td {
      border: 1px solid black;
      border-top: 2px solid black; 
      border-bottom: 2px solid black; 
      padding: 8px;
      text-align: left;
  }
  .table thead th {
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;
      background: #5fcf80;
      color: white;
      border-top: 2px solid black; 
      border-bottom: 2px solid black; 
  }
  
  
  @media (max-width: 768px) {
      #studentGradeTable {
          width: 100%;
      }
  }

#editContent{
    display: flex;
    justify-content: center; /* Center contents horizontally */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center contents vertically */
    width: 100%; /* Take full width to center align in parent */
}

#closepop{
    display: center;
    justify-content: center; /* Center contents horizontally */
    flex-direction: column; /* Stack children vertically */
    align-items: center; 
    width: 100%; /* Take full width to center align in parent */
}
  
  
  